@model IEnumerable<Data.Model.UserDetailsDTO>
@{
    ViewBag.Title = "_UserList";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.Label("First Name")
        </th>
        <th>
            @Html.Label("Last Name")
        </th>
        <th>
            @Html.Label("Email")
        </th>
        <th>
            @Html.Label("Address")
        </th>
        <th>
            @Html.Label("City")
        </th>
        <th>
            @Html.Label("Age")
        </th>
        <th>
            @Html.Label("Role")
        </th>
        <th>
            @Html.Label("Department")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td id="address">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                @Html.ActionLink("Details", "Details", new { id = item.Id })
              
            </td>
        </tr>
    }

</table>


