@using System.Drawing
@using Data.Model
@model Data.Model.UserDetailsDTO

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="dl-horizontal">


        @if (Model.Files.Any(f => f.FileType == FileType.Avatar)){
        <dt>
            Avatar
        </dt>
        <dd>
            @if (User.Identity.IsAuthenticated)
            {

                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            }
        </dd>

        }
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        
     
            @*<dt>
                Avatar
            </dt>*@
        <dd>
            <img src="~/@Model.FilePath.FileName" alt="" />
        </dd>

    </dl>
</div>
